.dvpai{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.planos{
    width: 270px;
    height: 320px;
    border-radius: 8px;
    margin: 0 45px;
}

.plano1{
    background-color: #FFFFFF;
    text-align: center;
}

.plano1 h3{
    padding-top: 10px;
    padding-bottom: 15px;
    color: #FFC01F;
}

.plano1 ul li{
    margin-left: 5px;
    margin-top: 10px;
    text-align: left;
}

.plano1 h5{
    padding-top: 25px;
}

.plano1 button{
    width: 180px;
    height: 30px;
    border-radius: 8px;
    border: none;
    background-color: #FFC01F;
    color: #1C1C1C;
    margin-top: 20px;
}

.plano2{
    background-color: #FFC01F;
    text-align: center;
}

.plano2 h3{
    padding-top: 10px;
    padding-bottom: 15px;
    color: #1C1C1C;
}

.plano2 ul li{
    margin-left: 5px;
    margin-top: 10px;
    text-align: left;
}

.plano2 h5{
    padding-top: 8px;
}

.plano2 button{
    width: 180px;
    height: 30px;
    border-radius: 8px;
    border: none;
    background-color: #1C1C1C;
    color: #FFFFFF;
    margin-top: 5px;
}

.plano3{
    background-color: #1C1C1C;
    text-align: center;
}

.plano3 h3{
    padding-top: 10px;
    padding-bottom: 15px;
    color: #FFC01F;
}

.plano3 ul li{
    margin-left: 5px;
    margin-top: 10px;
    text-align: left;
    color: #FFFFFF;
}

.plano3 h5{
    padding-top: 8px;
    color: #FFFFFF;
}

.plano3 button{
    width: 180px;
    height: 30px;
    border-radius: 8px;
    border: none;
    background-color: #FFC01F;
    color: #FFFFFF;
    margin-top: 5px;
}

