.cont_C-Ajuda{
    width: 500px;
    height: 270px;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.TituloPag{
    color: #1279CB;
    font-size: 48px;
    text-align: center;
    font-family: 'Anybody';
}

.bolaP{
    height: 18px;
    width: 18px;
    background-color: #1B75BC;
    border-radius: 100%;
    position: relative;
    top: -5px;
}

.h3Title{
    color: #1279CB;
    font-size: 24px;
    font-family: 'Anybody';
}