/*.containerEmp {
    height: 600px;
    border-bottom: 1px solid #FFC01F;
}

.containerEmp {
    
    overflow: auto; 
    font-size: 0; 
    margin: 0px;
}

#cabeçalho,
#contClinica {
    display: inline-block;
    vertical-align: top; 
    box-sizing: border-box; 
    font-size: initial; 
}

#cabeçalho{
    width: 400px;
    height: 599px;
    border-right: 1px solid #FFC01F;
    background-color: #1B75BC;
    color: #FFFFFF;
    font-family: 'Anybody';
}

#cabeçalho button{
    border-radius: 16px;
    background-color: #FFC01F;
    text-align: center;
    color: #FFFFFF;
    border: none;
    height: 50px;
    width: 190px;
    margin: 30px 112px;
}

#tituloCab{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    height: 60px;
}

#contClinica{
    color: black;
    font-family: 'Anybody';
    display: flex;
    flex-direction: column;
}

#tituloCont{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #1B75BC;
}
*/

.containerEmp {
    display: flex;
    height: 600px;
    border-bottom: 1px solid #FFC01F;
}

#cabeçalho,
#contClinica {
    box-sizing: border-box;
    font-size: initial;
}

#cabeçalho {
    width: 400px;
    height: 599px;
    background-color: #1B75BC;
    color: #FFFFFF;
    font-family: 'Anybody';
}

#cabeçalho button {
    border-radius: 16px;
    background-color: #FFC01F;
    text-align: center;
    color: #FFFFFF;
    border: none;
    height: 50px;
    width: 190px;
    margin: 30px 112px;
}

#tituloCab {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    height: 60px;
}

#contClinica {
    color: black;
    font-family: 'Anybody';
    display: flex; 
    flex-direction: column; 
    width: calc(100% - 400px); 
}

#tituloCont {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #1B75BC;
    width: 100%;
}

#contClinica tr{
    height: 30px;
}

#contClinica td{
    border: 1px solid black;
    text-align: center;
}

#contClinica h3{
    text-align: center;
    margin-top: 5px;
}

.tdTitulo{
    color: #1B75BC;
    font-size: 16px;
}
