 .contL{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 550px;
    background-color: #1279CB;
    border-bottom: 1px solid; 
}

#containerLog{
    width: 450px;
    height: 400px;
    border-radius: 8px;
    background-color: #FFC01F;
}

#containerLog1{
    width: 475px;
    height: 425px;
    border-radius: 8px;
    background-color: #FFFFFF;
    border: 3px solid #FFC01F;
    text-align: center;
}


#containerLog  h3{
    text-align: center;
    font-family: 'Anybody';
    font-weight: 700;
    font-size: 25px;
    margin-top: 30px;
}

#containerLog1  h3{
    text-align: center;
    font-family: 'Anybody';
    font-weight: 700;
    font-size: 25px;
    margin-top: 30px;
}

#containerLog h3{
    color: #FFFFFF;
}

#containerLog1 h3{
    color: #0552B5;
}

#containerLog1 h4{
    color: #0552B5;
    text-align: center;
    font-family: 'Anybody';
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
}

#containerLog1 a{
    text-decoration: none;
    cursor: pointer;
}

#containerLog1 span{
    color: #0552B5;
}


.btnC{
    width: 275px;
    height: 50px;
    background-color: #0552B5;
    color: #FFFFFF;
    font-weight: 700;
    font-family: 'Anybody';
    border-radius: 8px;
    margin-top: 60px;
    margin-left: 20%;
    border: 0px;
}

.form-group {
    display: inline-block;
    margin-left: 20px;
    margin-top: 35px; 
  }
  
label {
    display: block; 
    color: #0552B5;
    margin-bottom: 10px;
}

.form-group select{
    background-color: #0552B5;
    color: #FFFFFF;
    border-radius: 4px;
    border: 0px;
}
  
input {
    display: block;
    background-color: #0552B5;
    border-radius: 4px;
    border: 0px; 
    padding-left: 5px;
    color: #FFFFFF;
}

.form-group ::placeholder{
    color: #FFFFFF;
}

.acessarCli{
    background-color: #0552B5;
    color: #FFFFFF;
    width: 90px;
    height: 40px;
    margin-top: 50px;
    border-radius: 4px;
    border: 0px;
}

.acessarEmp{
    background-color: #0552B5;
    color: #FFFFFF;
    width: 80px;
    height: 30px;
    margin-top: 50px;
    border-radius: 4px;
    border: 0px;
    margin-left: 20px;
}

.msgEnv{
    margin-top: 110px;
}

.msgEnv h3{
    text-align: center;
    color: #0552B5;
    font-family: 'Anybody';
}

.msgEnv p{
    color: #0552B5;
    font-family: 'Anybody';
    margin-top: 25px;
    font-size: 18px;
}

.Voltar{
    margin-top: 70px;
    width: 95px;
    height: 45px;
    background-color: #0552B5;
    color: #FFFFFF;
    border-radius: 8px;
    border: 0px;
}